/* .StarbucksCard {
    margin: 10%;
    padding: 10px;
    float: left;
   
 
  
} 








.container {
max-width: 1250px;


}

.card-content {

}

/* .starbucks-info {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} */







.starbucks-info {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: black;
}



.starbucks-name {
    font-weight: 700;
}



.close-container {
    display: inline-block;
    width: 100%;
}

.reveal-details {
    margin-top: 20px;
}

.reveal-details > div > span {
    
    
    margin: 5px 0 5px 0;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    color: black;
}


