/* .StarbucksCard {
    margin: 10%;
    padding: 10px;
    float: left;
   
 
  
} 








.container {
max-width: 1250px;



}

.card-content {

}

/* .starbucks-info {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} */



/* .activator {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
} */

.starbucks-info {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    
}


.starbucks-name {
    font-weight: 700;
}

.details {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    color: #CED1DD;
    
}

.close-container {
    display: inline-block;
    width: 100%;
    
}

.reveal-details {
    margin-top: 20px;
}

.reveal-details > div > span {
    color: #CED1DD;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

.detail-item {
    display: flex;
    justify-content: space-between;
}




